body {
	background-color: #262626;
}

.content{
	padding-top: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.question-footer{
	border-top: 1px solid rgba(0,0,0,0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 5px;
}

.quiz-answer-card :hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.05);
}
